.container {
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    padding: 0 25px;
    display: block;
}

.carousel-wrapper {
    padding: 180px 0 100px 0;
    background-color: aqua;

}

.card-section-wrapper {
    height: 280px;
    background-color: aquamarine;
}

.accordion-wrapper {
    height: 600px;
    background-color: cadetblue;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    display: none;
    padding: 0 18px;
}

.crsl-slide {
    display: none;
}

.carrousel-wrapper img {
    vertical-align: middle;
    width: 100%;
    max-height: 300px;
    object-fit:cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.courses-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
}

.courses-cards .card {
    flex: auto;
    width: 30%;
    max-width: 320px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card {
    background-color: lightsteelblue;
    box-sizing: border-box;
    margin: 4px;
    padding: 8px;
}

.card li {
    list-style-type: none;
}

.card ul {
    margin: 0;
    padding: 0;
}



